{% load static %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>
    <h1><font color="red">avaliação de competencia e PDI 2022 deadline control</font></h1>
    <h5><td><a href="{% url 'RH' %}">volta para sala RH</a></td></h5>
    {% csrf_token %}
    <table border="1">
        <tr>
            <td><font size="2">mês</font></td>
            <td><font size="2">avaliação de competencia entregue</font></td>
            <td><font size="2">PDI entregue</font></td>
        </tr>
        <tr>
            <td><font size="2">janeiro</font></td>
            <td><font size="2">{{A1}}</font></td>
            <td><font size="2">{{B1}}</font></td>
        </tr>
        <tr>
            <td><font size="2">febereiro</font></td>
            <td><font size="2">{{A2}}</font></td>
            <td><font size="2">{{B2}}</font></td>

        </tr>
        <tr>
            <td><font size="2">março</font></td>
            <td><font size="2">{{A3}}</font></td>
            <td><font size="2">{{B3}}</font></td>
        </tr>
        <tr>
            <td><font size="2">abril</font></td>
            <td><font size="2">{{A4}}</font></td>
            <td><font size="2">{{B4}}</font></td>
        </tr>
        <tr>
            <td><font size="2">maio</font></td>
            <td><font size="2">{{A5}}</font></td>
            <td><font size="2">{{B5}}</font></td>
        </tr>
        </tr>
            <td><font size="2">junho</font></td>
            <td><font size="2">{{A6}}</font></td>
            <td><font size="2">{{B6}}</font></td>
        </tr>
        <tr>
            <td><font size="2">julho</font></td>
            <td><font size="2">{{A7}}</font></td>
            <td><font size="2">{{B7}}</font></td>
        </tr>
        <tr>
            <td><font size="2">agosto</font></td>
            <td><font size="2">{{A8}}</font></td>
            <td><font size="2">{{B8}}</font></td>
        </tr>
        <tr>
            <td><font size="2">setembro</font></td>
            <td><font size="2">{{A9}}</font></td>
            <td><font size="2">{{B9}}</font></td>
        </tr>
        <tr>
            <td><font size="2">outubro</font></td>
            <td><font size="2">{{A10}}</font></td>
            <td><font size="2">{{B10}}</font></td>
        </tr>
        <tr>
            <td><font size="2">novembro</font></td>
            <td><font size="2">{{A11}}</font></td>
            <td><font size="2">{{B11}}</font></td>
        </tr>
        <tr>
            <td><font size="2">dezembro</font></td>
            <td><font size="2">{{A12}}</font></td>
            <td><font size="2">{{B12}}</font></td>
        </tr>
        <tr bgcolor = "cccccc">
            <td><font size="2">feito total</font></td>
            <td><font size="2">{{AT}}</font></td>
            <td><font size="2">{{BT}}</font></td>
        </tr>
        <tr>
            <td><font size="2">ainda não foi feito</font></td>
            <td>    
                {% for i in BB1 %}
                    <br><font size="2">{{i}}</font>
                {% endfor %}
            </td>
            <td>    
                {% for i in BB2 %}
                    <br><font size="2">{{i}}</font>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td><font size="2">não tem avaliação de competencia/PDI</font></td>
            <td>    
                {% for i in CC1 %}
                    <br><font size="2">{{i}}</font>
                {% endfor %}
            </td>
            <td>    
                {% for i in CC2 %}
                    <br><font size="2">{{i}}</font>
                {% endfor %}
            </td>
        </tr>
    </table>


</body>
</html>