{% load static %}
<html lang="ja" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
    <body class="content"> 
    {% if reject == 0 %} 
        <form action="{% url 'ADC2' name=avaliado %}" method="post">
        {% csrf_token %}
        <tr class="small">avaliação de competencia de <font color="blue">{{avaliado}}</font></tr>
        <table border="1" >
            <tr style="background-color: #F0F8FF">
                <td style="width: 200px;"><font size="1">competencia geral</font></td>
                <td style="width: 100px;"><font size="1">auto avaliação</font></td>
                <td style="width: 100px;"><font size="1">avaliação por avaliador/a</font></td>
                <td style="width: 400px;"><font size="1">observação por colaborador/a</font></td>
                <td style="width: 400px;"><font size="1">observação por avaliador/a</font></td>
            </tr>
            <tr>
                <td><font size="1">{{data1.0}}</font></td>
                <td><font size="1">{{data2.0}}</font></td>
                <td><font size="1">{{data3.0}}</font></td>
                <td><font size="1">{{data4B.0}}</font></td>
                <td style="height:48px;"><font size="1">{{data4.0}}</font></td>
            </tr>
            <tr>
                <td><font size="1">{{data1.1}}</font></td>
                <td><font size="1">{{data2.1}}</font></td>
                <td><font size="1">{{data3.1}}</font></td>
                <td><font size="1">{{data4B.1}}</font></td>
                <td style="height:48px;"><font size="1">{{data4.1}}</font></td>
            </tr>
            <tr>
                <td><font size="1">{{data1.2}}</font></td>
                <td><font size="1">{{data2.2}}</font></td>
                <td><font size="1">{{data3.2}}</font></td>
                <td><font size="1">{{data4B.2}}</font></td>
                <td style="height:48px;"><font size="1">{{data4.2}}</font></td>
            </tr>
            <tr>
                <td><font size="1">{{data1.3}}</font></td>
                <td><font size="1">{{data2.3}}</font></td>
                <td><font size="1">{{data3.3}}</font></td>
                <td><font size="1">{{data4B.3}}</font></td>
                <td style="height:48px;"><font size="1">{{data4.3}}</font></td>
            </tr>
            <tr>
                <td><font size="1">{{data1.4}}</font></td>
                <td><font size="1">{{data2.4}}</font></td>
                <td><font size="1">{{data3.4}}</font></td>
                <td><font size="1">{{data4B.4}}</font></td>
                <td style="height:48px;"><font size="1">{{data4.4}}</font></td>
            </tr>
            <tr>
                <td><font size="1">{{data1.5}}</font></td>
                <td><font size="1">{{data2.5}}</font></td>
                <td><font size="1">{{data3.5}}</font></td>
                <td><font size="1">{{data4B.5}}</font></td>
                <td style="height:48px;"><font size="1">{{data4.5}}</font></td>
            </tr>
            <tr>
                <td><font size="1">{{data1.6}}</font></td>
                <td><font size="1">{{data2.6}}</font></td>
                <td><font size="1">{{data3.6}}</font></td>
                <td><font size="1">{{data4B.6}}</font></td>
                <td style="height:48px;"><font size="1">{{data4.6}}</font></td>
            </tr>
        </table>
        <br>
        <table border="1" >
            <tr style="background-color: #F0F8FF">
                <td style="width: 200px;"><font size="1">competencia especifica</background-color></font></td>
                <td style="width: 100px;"><font size="1">auto avaliação</font></td>
                <td style="width: 100px;"><font size="1">avaliação por avaliador/a</font></td>
                <td style="width: 400px;"><font size="1">observação por colaborador/a</font></td>
                <td style="width: 400px;"><font size="1">observação por avaliador/a</font></td>
            <tr>
                <td><font size="1">{{data50}}</font></td>
                <td><font size="1">{{data6.0}}</font></td>
                <td><font size="1">{{data7.0}}</font></td>
                <td><font size="1">{{data4B.7}}</font></td>
                <td style="height:48px;"><font size="1">{{data8.0}}</font></td>
            </tr>
            <tr>
                <td><font size="1">{{data51}}</font></td>
                <td><font size="1">{{data6.1}}</font></td>
                <td><font size="1">{{data7.1}}</font></td>
                <td><font size="1">{{data4B.8}}</font></td>
                <td style="height:48px;"><font size="1">{{data8.1}}</font></td>
            </tr>
        </table>
        {% if time == 1 %}
            <tr class="small"><font color="red">{{UserID}}</font>, clique "Edit" e preencha sua avaliação e observação de {{avaliado}} e aprove</tr>
            <br><font size="2"><a href="{% url 'editADC2' name=avaliado %}">Edit</font></a>
            <br><tr><th><td>
                <input type="submit" value="baixar" name="DL" class="button2">
                <input type="submit" value="aprovar" name="send" class="button">
            </td></th></tr>   
        {% endif %}
        {% if time == 2 %}
            <tr class="small">já foi aprovado</tr>
            <br>
            <tr><th><td>
                <input type="submit" value="baixar" name="DL" class="button2">
            </td></th></tr>   
        {% endif %}
        {% if time == 0 %}
            <p class="small">espere atê que <font color="blue">{{avaliado}}</font> submete, assim que subemter RH te avisa por e-mail</p>
        {% endif %}
        <br><font size="2"><a href="{% url 'home' %}">volta para home</font></a>
        </form>
    {% else %}
        você não tem acesso
    {% endif %}
    </body>
</html>