{% load static %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>
    <h1><font color="red">avaliação de competencia e PDI 2022 deadline control</font></h1>
    <h5><td><a href="{% url 'RH' %}">volta para sala RH</a></td></h5>
    {% csrf_token %}
    <table border="1">
        <tr bgcolor = "cccccc">
            <td><font size="2">mês</font></td>
            <td><font size="2">avaliação de competencia entregue</font></td>
            <td><font size="2">PDI entregue</font></td>
        </tr>
        <tr>
            <td><font size="2">janeiro</font></td>
            <td><div class="tooltip4"><p><font size="2">{{A1}}</font></p><div class="description4">{{NA1|linebreaksbr}}</div></div></td>
            <td><div class="tooltip4"><p><font size="2">{{B1}}</font></p><div class="description4">{{NB1|linebreaksbr}}</div></div></td>
        </tr>
        <tr>
            <td><font size="2">febereiro</font></td>
            <td><div class="tooltip4"><p><font size="2">{{A2}}</font></p><div class="description4">{{NA2|linebreaksbr}}</div></div></td>
            <td><div class="tooltip4"><p><font size="2">{{B2}}</font></p><div class="description4">{{NB2|linebreaksbr}}</div></div></td>

        </tr>
        <tr>
            <td><font size="2">março</font></td>
            <td><div class="tooltip4"><p><font size="2">{{A3}}</font></p><div class="description4">{{NA3|linebreaksbr}}</div></div></td>
            <td><div class="tooltip4"><p><font size="2">{{B3}}</font></p><div class="description4">{{NB3|linebreaksbr}}</div></div></td>
        </tr>
        <tr>
            <td><font size="2">abril</font></td>
            <td><div class="tooltip4"><p><font size="2">{{A4}}</font></p><div class="description4">{{NA4|linebreaksbr}}</div></div></td>
            <td><div class="tooltip4"><p><font size="2">{{B4}}</font></p><div class="description4">{{NB4|linebreaksbr}}</div></div></td>
        </tr>
        <tr>
            <td><font size="2">maio</font></td>
            <td><div class="tooltip4"><p><font size="2">{{A5}}</font></p><div class="description4">{{NA5|linebreaksbr}}</div></div></td>
            <td><div class="tooltip4"><p><font size="2">{{B5}}</font></p><div class="description4">{{NB5|linebreaksbr}}</div></div></td>
        </tr>
        </tr>
            <td><font size="2">junho</font></td>
            <td><div class="tooltip4"><p><font size="2">{{A6}}</font></p><div class="description4">{{NA6|linebreaksbr}}</div></div></td>
            <td><div class="tooltip4"><p><font size="2">{{B6}}</font></p><div class="description4">{{NB6|linebreaksbr}}</div></div></td>
        </tr>
        <tr>
            <td><font size="2">julho</font></td>
            <td><div class="tooltip4"><p><font size="2">{{A7}}</font></p><div class="description4">{{NA7|linebreaksbr}}</div></div></td>
            <td><div class="tooltip4"><p><font size="2">{{B7}}</font></p><div class="description4">{{NB7|linebreaksbr}}</div></div></td>
        </tr>
        <tr>
            <td><font size="2">agosto</font></td>
            <td><div class="tooltip4"><p><font size="2">{{A8}}</font></p><div class="description4">{{NA8|linebreaksbr}}</div></div></td>
            <td><div class="tooltip4"><p><font size="2">{{B8}}</font></p><div class="description4">{{NB8|linebreaksbr}}</div></div></td>
        </tr>
        <tr>
            <td><font size="2">setembro</font></td>
            <td><div class="tooltip4"><p><font size="2">{{A9}}</font></p><div class="description4">{{NA9|linebreaksbr}}</div></div></td>
            <td><div class="tooltip4"><p><font size="2">{{B9}}</font></p><div class="description4">{{NB9|linebreaksbr}}</div></div></td>
        </tr>
        <tr>
            <td><font size="2">outubro</font></td>
            <td><div class="tooltip4"><p><font size="2">{{A10}}</font></p><div class="description4">{{NA10|linebreaksbr}}</div></div></td>
            <td><div class="tooltip4"><p><font size="2">{{B10}}</font></p><div class="description4">{{NB10|linebreaksbr}}</div></div></td>
        </tr>
        <tr>
            <td><font size="2">novembro</font></td>
            <td><div class="tooltip4"><p><font size="2">{{A11}}</font></p><div class="description4">{{NA11|linebreaksbr}}</div></div></td>
            <td><div class="tooltip4"><p><font size="2">{{B11}}</font></p><div class="description4">{{NB11|linebreaksbr}}</div></div></td>
        </tr>
        <tr>
            <td><font size="2">dezembro</font></td>
            <td><div class="tooltip4"><p><font size="2">{{A12}}</font></p><div class="description4">{{NA12|linebreaksbr}}</div></div></td>
            <td><div class="tooltip4"><p><font size="2">{{B12}}</font></p><div class="description4">{{NB12|linebreaksbr}}</div></div></td>
        </tr>
        <tr bgcolor = "cccccc">
            <td><font size="2">feito total</font></td>
            <td><font size="2">{{AT}}</font></td>
            <td><font size="2">{{BT}}</font></td>
        </tr>
        <tr>
            <td><font size="2">ainda não foi feito</font></td>
            <td>    
                {% for i in BB1 %}
                    <br><font size="2">{{i}}</font>
                {% endfor %}
            </td>
            <td>    
                {% for i in BB2 %}
                    <br><font size="2">{{i}}</font>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td><font size="2">não tem avaliação de competencia/PDI</font></td>
            <td>    
                {% for i in CC1 %}
                    <br><font size="2">{{i}}</font>
                {% endfor %}
            </td>
            <td>    
                {% for i in CC2 %}
                    <br><font size="2">{{i}}</font>
                {% endfor %}
            </td>
        </tr>
    </table>


</body>
</html>