{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body class="container">
    <td><font size="2" color="red">{{UserID}}, faça auto avaliação e salve. ALERTA: sempre clique "salvar" antes de voltar ou vê detalhe, senão você perde recorde de sua alteração</font></td>
    <form action="{% url 'editADC' user.id %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td><font size="1"><center>competencia</center></font></td>
            <td><font size="2" color="red"><center>detalhe<br>(veja aqui)</center></font></td>
            <td><font size="2" color="red"><center>auto avaliação (faça aqui)</center></font></td>
            <td><font size="1"><center>avaliação por avaliador/a</center></font></td>
            <td><font size="2" color="red"><center>observação por colaborador/a   <br>(faça aqui)</center></font></td>
            <td><font size="1"><center>observação por avaliador/a</center></font></td>
        </tr>
        <tr>
            <td>
                <table border="1">
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form1.0}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form1.1}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form1.2}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form1.3}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form1.4}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form1.5}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form1.6}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form51}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form52}}</font></td>
                    </tr>
                </table>
            </td>
            <td>
                <table border="1">
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1"><a href="{% url 'G1D' user.id %}">veja detalhe da competencia (salvou alteração?)</a></font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1"><a href="{% url 'G2D' user.id %}">veja detalhe da competencia (salvou alteração?)</a></font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1"><a href="{% url 'G3D' user.id %}">veja detalhe da competencia (salvou alteração?)</a></font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1"><a href="{% url 'G4D' user.id %}">veja detalhe da competencia (salvou alteração?)</a></font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1"><a href="{% url 'G5D' user.id %}">veja detalhe da competencia (salvou alteração?)</a></font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1"><a href="{% url 'G6D' user.id %}">veja detalhe da competencia (salvou alteração?)</a></font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1"><a href="{% url 'G7D' user.id %}">veja detalhe da competencia (salvou alteração?)</a></font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1"><a href="{% url 'E1D' user.id %}">veja detalhe da competencia (salvou alteração?)</a></font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1"><a href="{% url 'E2D' user.id %}">veja detalhe da competencia (salvou alteração?)</a></font></td>
                    </tr>
                </table>
            </td>

            <td>
                <table border="1">
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22G1C}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22G2C}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22G3C}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22G4C}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22G5C}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22G6C}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22G7C}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22E1C}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22E2C}}</font></td>
                    </tr>
                </table>
            </td>

            <td>
                <table border="1">
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form3.0}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form3.1}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form3.2}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form3.3}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form3.4}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form3.5}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form3.6}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form3.7}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form3.8}}</font></td>
                    </tr>
                </table>
            </td>

            <td>
                <table border="1">
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22G1OC}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22G2OC}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22G3OC}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22G4OC}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22G5OC}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22G6OC}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22G7OC}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22E1OC}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; height:180px;"><font size="1">{{form2.ADC22E2OC}}</font></td>
                    </tr>
                </table>
            </td>


            <td>
                <table border="1">
                    <tr>
                        <td style="width: 780px; height:180px;"><font size="1">{{form4.0}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 780px; height:180px;"><font size="1">{{form4.1}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 780px; height:180px;"><font size="1">{{form4.2}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 780px; height:180px;"><font size="1">{{form4.3}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 780px; height:180px;"><font size="1">{{form4.4}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 780px; height:180px;"><font size="1">{{form4.5}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 780px; height:180px;"><font size="1">{{form4.6}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 780px; height:180px;"><font size="1">{{form4.7}}</font></td>
                    </tr>
                    <tr>
                        <td style="width: 780px; height:180px;"><font size="1">{{form4.8}}</font></td>
                    </tr>
                </table>
            </td>
            <input type="submit" value="salvar"><font size="3"><a href="{% url 'ADC' %}"> voltar</a></font>
        </table>
    </form>
</body>
</html>