{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body class="content">
    <p class="small"><font size="2" color="blue">{{UserID}}</font>, alinhe com seu/sua avaliador/a progresso de cada meta e preencha no primeiro alinhamento. <font color="red">ALERTA:</font> clique "salvar/voltar" senão o sistema não salva sua alteração</p>
    <form action="{% url 'edit2' user.id %}" method="post">
        {% csrf_token %}
        <table border="1">
            <tr style="background-color: #F0F8FF">
                <td style="width: 290px;"><font size="1"<center>descrição de metas</center></font></td>
                <td><font size="1"><center>peso %</center></font></td>
                <td style="width: 290px;"><font size="1" color="red"><center>primeiro alinhamento</center></font></td>
                <td style="width: 290px;"><font size="1"><center>segundo alinhamento</center></font></td>
                <td style="width: 290px;"><font size="1"><center>avaliação de fim do ano</center></font></td>
                <td><font size="1"><center>pontuação</center></font></td>
            </tr>
            <tr>
                <td><font size="1">{{data1.0}}</font></td>
                <td>{{data2.0}}</td>
                <td>{{data3.MBO22A2}}</td>
                <td><font size="1"></font></td>
                <td><font size="1"></font></td>
                <td><font size="1"></font></td>
            </tr>
            <tr>
                <td><font size="1">{{data1.1}}</font></td>
                <td>{% if data2.1 != 0 %}{{data2.1}}{% endif %}</td>
                <td>{{data3.MBO22B2}}</td>
                <td><font size="1"></font></td>
                <td><font size="1"></font></td>
                <td><font size="1"></font></td>
            </tr>
            <tr>
                <td><font size="1">{{data1.2}}</font></td>
                <td>{% if data2.2 != 0 %}{{data2.2}}{% endif %}</td>
                <td>{{data3.MBO22C2}}</td>
                <td><font size="1"></font></td>
                <td><font size="1"></font></td>
                <td><font size="1"></font></td>
            </tr>
            <tr>
                <td><font size="1">{{data1.3}}</font></td>
                <td>{% if data2.3 != 0 %}{{data2.3}}{% endif %}</td>
                <td>{{data3.MBO22D2}}</td>
                <td><font size="1"></font></td>
                <td><font size="1"></font></td>
                <td><font size="1"></font></td>
            </tr>
            <tr>
                <td><font size="1">{{data1.4}}</font></td>
                <td>{% if data2.4 != 0 %}{{data2.4}}{% endif %}</td>
                <td>{{data3.MBO22E2}}</td>
                <td><font size="1"></font></td>
                <td><font size="1"></font></td>
                <td><font size="1"></font></td>
            </tr>
            <tr>
                <td><font size="1">{{data1.5}}</font></td>
                <td>{% if data2.5 != 0 %}{{data2.5}}{% endif %}</td>
                <td>{{data3.MBO22F2}}</td>
                <td><font size="1"></font></td>
                <td><font size="1"></font></td>
                <td><font size="1"></font></td>
            </tr>
            <tr>
                <td><font size="1">{{data1.6}}</font></td>
                <td>{% if data2.6 != 0 %}{{data2.6}}{% endif %}</td>
                <td>{{data3.MBO22G2}}</td>
                <td><font size="1"></font></td>
                <td><font size="1"></font></td>
                <td><font size="1"></font></td>
            </tr>

        </table>
        <tr><th><td><br>
            <input type="submit" value="salvar/voltar" class="button3">
        </td></th></tr>
    </form>
</body>
</html>