{% load static %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">

</head>
    <body class="container">  
        <p class="small">MBO2022 de <font color="blue">{{avaliado}}</font> </p>
        <form action="{% url 'Logout2' name=avaliado %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1" >
            <tr>
                <td></td>
                <td style="width: 270px;"><font size="1">descrição de meta</font></td>
                <td><font size="1">peso%</font></td>
                <td style="width: 270px;"><font size="1">primeiro alinhamento</font></td>
                <td style="width: 270px;"><font size="1">segundo alinhamento</font></td>
                <td style="width: 270px;"><font size="1">avaliação</font></td>
                <td><font size="1">pontuação</font></td>
            </tr>
            <tr>
                <td><font size="1">meta 1</font></td>
                <td style="height: 60px;"><font size="1">{{ data1.0 }}</font></td>
                <td><font size="1">{{ data2.0 }}</font></td>
                <td><font size="1">{{ data3.0 }}</font></td>
                <td><font size="1">{{ data4.0 }}</font></td>
                <td><font size="1">{{ data5.0 }}</font></td>
                <td><font size="1">{{ data6.0 }}</font></td>
            </tr>
            <tr>
                <td><font size="1">meta 2</font></td>
                <td><font size="1">{{ data1.1 }}</font></td>
                <td style="height: 60px;"><font size="1">{{ data2.1 }}</font></td>
                <td><font size="1">{{ data3.1 }}</font></td>
                <td><font size="1">{{ data4.1 }}</font></td>
                <td><font size="1">{{ data5.1 }}</font></td>
                <td><font size="1">{{ data6.1 }}</font></td>
            </tr>
            <tr>
                <td><font size="1">meta 3</font></td>
                <td><font size="1">{{ data1.2 }}</font></td>
                <td><font size="1">{{ data2.2 }}</font></td>
                <td style="height: 60px;"><font size="1">{{ data3.2 }}</font></td>
                <td><font size="1">{{ data4.2 }}</font></td>
                <td><font size="1">{{ data5.2 }}</font></td>
                <td><font size="1">{{ data6.2 }}</font></td>
            </tr>
            <tr>
                <td><font size="1">meta 4</font></td>
                <td><font size="1">{{ data1.3 }}</font></td>
                <td><font size="1">{{ data2.3 }}</font></td>
                <td><font size="1">{{ data3.3 }}</font></td>
                <td style="height: 60px;"><font size="1">{{ data4.3 }}</font></td>
                <td><font size="1">{{ data5.3 }}</font></td>
                <td><font size="1">{{ data6.3 }}</font></td>
            </tr>
            <tr>
                <td><font size="1">meta 5</font></td>
                <td><font size="1">{{ data1.4 }}</font></td>
                <td><font size="1">{{ data2.4 }}</font></td>
                <td><font size="1">{{ data3.4 }}</font></td>
                <td><font size="1">{{ data4.4 }}</font></td>
                <td style="height: 60px;"><font size="1">{{ data5.4 }}</font></td>
                <td><font size="1">{{ data6.4 }}</font></td>
            </tr>
            <tr>
                <td><font size="1">meta 6</font></td>
                <td><font size="1">{{ data1.5 }}</font></td>
                <td><font size="1">{{ data2.5 }}</font></td>
                <td><font size="1">{{ data3.5 }}</font></td>
                <td><font size="1">{{ data4.5 }}</font></td>
                <td><font size="1">{{ data5.5 }}</font></td>
                <td style="height: 60px;"><font size="1">{{ data6.5 }}</font></td>
            </tr>
            <tr>
                <td><font size="1">meta 7</font></td>
                <td><font size="1">{{ data1.6 }}</font></td>
                <td><font size="1">{{ data2.6 }}</font></td>
                <td><font size="1">{{ data3.6 }}</font></td>
                <td><font size="1">{{ data4.6 }}</font></td>
                <td><font size="1">{{ data5.6 }}</font></td>
                <td style="height: 60px;"><font size="1">{{ data6.6 }}</font></td>
            </tr>
        </table>
        {% if time == 1 %}
        <p class="small"><font color="red">{{UserID}}</font>, cheque meta e peso% e aprove ou peça ele/ela para corrigir se tiver algo errado</p>
        <label><input type = "checkbox" name= "office" value = "aprovar">aprovar</label>
        <label><input type = "checkbox" name= "office" value = "pede corrigir">pede corrigir</label>
        <input type="submit" value="selecione aprovar ou pede corrigir e clique aqui">
        {{order}}
        {% endif %}
        {% if time == 2 %}
        <p class="small"><font color="red">{{UserID}}</font>, cheque primeiro alinhamento e aprove ou peça ele/ela para corrigir se tiver algo errado</p>
        <label><input type = "checkbox" name= "office" value = "aprovar">aprovar</label>
        <label><input type = "checkbox" name= "office" value = "pede corrigir">pede corrigir</label>
        <input type="submit" value="selecione aprovar ou pede corrigir e clique aqui">
        {% endif %}
        {% if time == 3 %}
        <p class="small"><font color="red">{{UserID}}</font>, cheque segundo alinhamento e aprove ou peça ele/ela para corrigir se tiver algo errado</p>
        <label><input type = "checkbox" name= "office" value = "aprovar">aprovar</label>
        <label><input type = "checkbox" name= "office" value = "pede corrigir">pede corrigir</label>
        <input type="submit" value="selecione aprovar ou pede corrigir e clique aqui">
        {% endif %}
        {% if time == 4 %}
        <p class="small"><font color="red">{{UserID}}</font>, cheque avaliação e pontuação e aprove ou peça ele/ela para corrigir se tiver algo errado</p>
        <label><input type = "checkbox" name= "office" value = "aprovar">aprovar</label>
        <label><input type = "checkbox" name= "office" value = "pede corrigir">pede corrigir</label>
        <input type="submit" value="selecione aprovar ou pede corrigir e clique aqui">
        {% endif %}
        {% if time == 10 %}
        <p class="small">já foi aprovado</p>
        {% endif %}
        {% if time == 0 %}
        <p class="small">espere atê que <font color="blue">{{avaliado}}</font> submete, assim que subemter RH te avisa por e-mail</p>
        {% endif %}
        </form>
        <h5><td><a href="{% url 'home' %}">volta</a></td></h5>
    </body>
</html>