{% load static %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>
 <h1><font color="red">sala RH</font></h1>

 <p> 
 Employee Status<a href="{% url 'ES' %}"> 2022</a> 2023<a> 2024</a>
 </p>

 <p> 
 MBO all employee<a href="{% url 'MBO22RH' %}"> 2022</a><a> 2023</a><a> 2024</a>
 </p>

 <p> 
 Avaliação de Competencia all employee <a href="{% url 'ADC22RHA' %}"> 2022</a><a> 2023</a><a> 2024</a>
 </p>

 <p> 
 Plano de Desenvolvimento Individual all employee <a href="{% url 'PDI22RH' %}"> 2022</a><a> 2023</a><a> 2024</a> 
 </p>
 <p> 
 MBO deadline control  <a href="{% url 'MBO22DL' %}"> 2022</a><a> 2023</a><a> 2024</a>
 </p>

 <p> 
 Avaliação de Competencia e Plano de Desenvolvimento Individual deadline control  <a href="{% url 'ADC22DL' %}"> 2022</a><a> 2023</a><a> 2024</a>
 </p>

 <p> 
  Avaliação de Competencia estatistica <a href="{% url 'ADC22ESTA' %}"> 2022</a><a> 2023</a><a> 2024</a>
 </p>
 


 <h5><td><a href="{% url 'home' %}">volta para home</a></td></h5>

</body>
</html>